* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #f2f6ff;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 10px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  background: #ffffff;
  border-radius: 6px;
  padding: 20px 40px;
  width: 100%;
  min-height: 600px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.header {
  margin: 10px;
  font-size: 24px;
  text-transform: capitalize;
}
.control {
  width: 100%;
}

.label {
  display: block;
  text-align: left;
  color: #7e7e81;
  margin-top: 20px;
  text-transform: capitalize;
}

.input {
  width: 100%;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2.5px solid #eff1f7;
  text-transform: capitalize;
}

.input:focus {
  outline: 0;
  border-color: #777;
}

.bttn {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background: #059bf1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.container--password-val {
  border: 1px solid #dfdfdf;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  text-align: left;
  padding-left: 20px;
  font-size: 0.8em;
  font-weight: 600;
  display: none;
}

.span--password-val {
  padding-right: 5px;
}
.error {
  border: 3px solid red;
}
.error-msg {
  display: block;
  color: red;
  text-align: left;
  visibility: hidden;
}
.errorVis {
  visibility: visible;
}

.success {
  border: 3px solid #0ab40a;
}

.notValid {
  color: red;
}

.valid {
  color: green;
}

.show {
  display: block;
}
.hide {
  display: none;
}
